
<div el-row gutter="20">
  <div el-col span="5">
    <div class="grid-content key">{{data.text}}</div>
  </div>
  <div el-col [span]="data.config.button ? 13 : 19">
    <div class="grid-content value" [ngSwitch]=data.type>
      <el-input *ngSwitchCase="'Text'" [(ngModel)]=data.value [placeholder]=data.config.placeholder
                [native-type]="data.config.password ? 'password' : 'text'"
                [maxlength]=data.config.maxLength></el-input>
      <el-input *ngSwitchCase="'Password'" [(ngModel)]=data.value [placeholder]=data.config.placeholder
                native-type="password" [maxlength]=data.config.maxLength></el-input>
    </div>
  </div>
  <div el-col span=6 *ngIf="data.config.button">
    <div class="grid-content value" [ngSwitch]=data.type>
      <el-button type="text" (click)="onClick.emit()">{{data.config.button}}</el-button>
    </div>
  </div>
</div>
