/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";
@import "./assets/dark.css";
@import "./assets/light.css";

/*theme R, G, B*/
root{--themeColor: rgb(192, 255, 192);}

html {
  width: 100%; height: 100%;
}
body{
  margin: 0;
  width: 100%; height: 100%;
}

.el-menu--horizontal {
  border: none;
}
.el-button--primary {
  background-color: rgb(128,228,128);
  border-color: rgb(128,228,128);
}
  .el-button--primary:hover {
    background-color: rgb(144,255,144);
    border-color: rgb(128,228,128);
  }
  .el-button--primary:active {
    background-color: rgb(128,192,128);
    border-color: rgb(128,228,128);
  }

a {
  color: green;
  text-decoration: underline;
}
a:hover {
  color: limegreen;
  text-decoration: underline;
}

.el-button--text {
  /*color: rgb(0,128,0);*/
  color: green;
  text-decoration: underline;
}
  .el-button--text:hover {
    /*color: rgb(64,228,64);*/
    color: limegreen;
    text-decoration: underline;
  }

.el-input{
  width: 20em;
}
