.main_view{
  text-align: center;
}
  h1 {
    margin: 0 0 8px;
  }
  .bottom_buttons{
    width: 100%;
    margin-top: 12px;
    text-align: center;
  }
  .bottom_buttons > .el-button{
    width: 20%;
    min-width: 92px;
  }

