:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*云彩动画*/

.sky {
  z-index: 75;
  left: 0; right: 0;
  top: 30%;
  width: 100%;
  height: 480px;
  background: transparent;
  position: fixed;
  overflow: hidden;
  transform: translateY(50%);
}

.sky .clouds_one {
  background: url("../assets/images/cloud_one.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 180s linear infinite;
  -moz-animation: cloud_one 180s linear infinite;
  -o-animation: cloud_one 180s linear infinite;
  animation: cloud_one 180s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
  background: url("../assets/images/cloud_two.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 200s linear infinite;
  -moz-animation: cloud_two 200s linear infinite;
  -o-animation: cloud_two 200s linear infinite;
  animation: cloud_two 200s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_three {
  background: url("../assets/images/cloud_three.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_three 233s linear infinite;
  -moz-animation: cloud_three 233s linear infinite;
  -o-animation: cloud_three 233s linear infinite;
  animation: cloud_three 233s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes sky_background {
  0% { background: rgba(0,127,213,0.5); color: #007fd5 }
  50% { background: rgba(0,0,0,0.5); color: #a3d9ff }
  100% { background: rgba(0,127,213,0.5); color: #007fd5 }
}
@-moz-keyframes sky_background {
  0% { background: rgba(0,127,213,0.5); color: #007fd5 }
  50% { background: rgba(0,0,0,0.5); color: #a3d9ff }
  100% { background: rgba(0,127,213,0.5); color: #007fd5 }
}
@keyframes sky_background {
  0% { background: rgba(0,127,213,0.5); color: #007fd5 }
  50% { background: rgba(0,0,0,0.5); color: #a3d9ff }
  100% { background: rgba(0,127,213,0.5); color: #007fd5 }
}

@-webkit-keyframes cloud_one { 0% { left: 0 } 100% { left: -233% } }
@-moz-keyframes cloud_one { 0% { left: 0 } 100% { left: -233% } }
@keyframes cloud_one { 0% { left: 0 } 100% { left: -233% } }

@-webkit-keyframes cloud_two { 0% { left: 0 } 100% { left: -333% } }
@-moz-keyframes cloud_two { 0% { left: 0 } 100% { left: -333% } }
@keyframes cloud_two { 0% { left: 0 } 100% { left: -333% } }

@-webkit-keyframes cloud_three { 0% { left: 0 } 100% { left: -666% } }
@-moz-keyframes cloud_three { 0% { left: 0 } 100% { left: -666% } }
@keyframes cloud_three { 0% { left: 0 } 100% { left: -666% } }

/*云彩动画结束*/

#toolbar {
  z-index: 100;
  position: fixed;
  left: 0; right: 0;
  top: 0; height: 60px;
  background:  rgba(144,128,192,0.75);
  background: -webkit-linear-gradient(to right, rgba(144,128,192,0.5) 25%, rgba(228,192,255,0.75));
  background: -moz-linear-gradient(to right, rgba(144,128,192,0.5) 25%, rgba(228,192,255,0.75));
  background: -ms-linear-gradient(to right, rgba(144,128,192,0.5) 25%, rgba(228,192,255,0.75));
  background: -o-linear-gradient(to right, rgba(144,128,192,0.5) 25%, rgba(228,192,255,0.75));
  background-image: linear-gradient(to right, rgba(144,128,192,0.5) 25%, rgba(228,192,255,0.75));
  color: #fff;
}

  #logo {
    float: left;
    margin-left: 24px;
    height: 100%;
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
  }

  #menu {
    float: left;
    margin-left: 24px;
    height: 100%;
  }
    /deep/ .el-menu-demo{
      background-color: transparent;
    }
    /deep/ .el-menu--horizontal .el-submenu .el-submenu__title:hover{
      background-color: rgba(0,0,0,0.25);
    }
    /deep/ .el-menu--horizontal .el-menu-item:hover{
      background-color: rgba(0,0,0,0.25);
    }
    /deep/ .el-menu--horizontal .el-submenu>.el-menu{
      background-color: rgba(144,128,192,0.75);
    }
    /deep/ .el-menu--horizontal .el-submenu .el-menu-item{
      background-color: rgba(144,128,192,0.75);
    }
    /deep/ .el-menu--horizontal .el-submenu .el-menu-item:hover{
      background-color: rgba(0,0,0,0.5);
    }
    /deep/ .el-icon-caret-bottom:before{
      color: white;
    }

#login_title {
  z-index: 50;
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  /*
  background:  rgba(144,128,192,0.4);
  background: -webkit-linear-gradient(to top, rgba(144,128,192,0.4) 25%, rgba(228,192,255,0.4));
  background: -moz-linear-gradient(to top, rgba(144,128,192,0.4) 25%, rgba(228,192,255,0.4));
  background: -ms-linear-gradient(to top, rgba(144,128,192,0.4) 25%, rgba(228,192,255,0.4));
  background: -o-linear-gradient(to top, rgba(144,128,192,0.4) 25%, rgba(228,192,255,0.4));
  background-image: linear-gradient(to top right, rgba(128,96,144,0) 20%, rgba(144,128,192,0.9));
  */
  text-align: center;
  font-size: 92px;
  font-weight: bold;
  line-height: 233px;
  color: #1066a8;
}

#content {
  z-index: 80;
  position: fixed;
  left: 0; right: 0;
  top: 60px; bottom: 0;
  background-color: rgba(255,255,255,0.25);
  overflow: scroll;
}

#project_content{
  background-color: rgba(252,252,252,1);
  width: 100%; height: 100%;
}
  #control_buttons {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 12px;
    border-bottom: #999 solid 1px;
  }
  #gantt_graph{
    position: absolute;
    left: 0; right: 0;
    top: 64px; bottom: 0;
    background: rgba(238,238,238,1);
  }
    app-gantt {
      width: 100%;
      height: 100%;
    }

#prompt_window{
  z-index: 100;
  position: fixed;
  padding-top: 224px;
  width: 100%; height: 100%;
}
  #login_window {
    z-index: 100;
    padding: 8px 8px 16px;
    border: none;
    border-left: black solid 1px;
    border-right: black solid 1px;
    background: transparent;
    width: 50%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #register_window {
    z-index: 100;
    margin-top: 64px;
    padding: 8px 8px 16px;
    border: none;
    border-left: black solid 1px;
    border-right: black solid 1px;
    background: transparent;
    width: 50%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #left_menu {
    background-color: #ffffff;
    position: absolute;
    top: 0; left: 0;
    width: 200px;
  }

  #right_content {
    background-color: #ffffff;
    margin-left: 210px;
    width: 600px;
  }

  app-login {
    display: inline-block;
    width: 80%;
  }
