
<!--<router-outlet></router-outlet>-->

<!--<div id="toolbar" role="banner">-->
<!--  <div id="logo">星云6 <span style="font-size: 14px; font-weight: normal">项目管理平台</span></div>-->
<!--  <div id="menu">-->
<!--    <el-menu [model]="0" (modelChange)="handle($event)" class="el-menu-demo" mode="horizontal"-->
<!--             active-text-color="#ffd04b"-->
<!--             text-color="#fff">-->
<!--      <el-menu-item index="1">个人中心</el-menu-item>-->
<!--      <el-submenu index="2" title="切换项目">-->
<!--        <el-menu-item index="2-1">新建项目</el-menu-item>-->
<!--        <el-menu-item index="2-2">百日高考</el-menu-item>-->
<!--        <el-menu-item index="2-3">项目管理系统</el-menu-item>-->
<!--        <el-menu-item index="2-4">Exermon GO</el-menu-item>-->
<!--      </el-submenu>-->
<!--      <el-menu-item index="3">我的任务</el-menu-item>-->
<!--      <el-menu-item index="4">退出登录</el-menu-item>-->
<!--    </el-menu>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <button type="button" class="btn btn-primary" (click)="showAlert()">alert模态框</button>-->
<!--  </div>-->
<!--</div>-->

<title>{{title}}</title>

<el-dialog [(visible)]="ViewSystem.AlertShown">
  <ng-template #title>
    <span [class]="ViewSystem.AlertIconClass"></span>
    <span>{{ViewSystem.AlertTitle}}</span>
  </ng-template>
  <span>{{ViewSystem.AlertContent}}。</span>
</el-dialog>

<div id="loading" [el-loading]="ViewSystem.LoadingShown" [full-screen]="true"></div>
<router-outlet></router-outlet>

<!--<div id="content" role="main">-->
<!--  &lt;!&ndash;div id="project_content">-->
<!--    <div id="control_buttons">-->
<!--      <el-button class="control_button" style="width: 96px;"-->
<!--                 type="primary">新建任务</el-button>-->
<!--      <el-button class="control_button" style="width: 96px;"-->
<!--                 type="primary">修改任务</el-button>-->
<!--    </div>-->
<!--    <div id="gantt_graph">-->
<!--      <app-gantt></app-gantt>-->
<!--    </div>-->
<!--  </div&ndash;&gt;-->

<!--&lt;!&ndash;  <div id="left_menu">&ndash;&gt;-->
<!--&lt;!&ndash;    <div el-col span="4">&ndash;&gt;-->
<!--&lt;!&ndash;      <el-menu model="2">&ndash;&gt;-->
<!--&lt;!&ndash;        <el-menu-item index="1" to="personal-infor">个人信息</el-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <el-menu-item index="2" to="code-change">修改密码</el-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <el-menu-item index="3" to="chat-room">聊天室</el-menu-item>&ndash;&gt;-->
<!--&lt;!&ndash;      </el-menu>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div id="right_content">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

